/*
Generate Color Scheme
#000022 - back
#001242 - supper
#00AAFF - front
 */


.productImage{
  background-color: white;
  max-width: 100%;
}

.overlay{
  padding: 20px;
  margin-top: 50px;
  background-color: rgba(0,18,66,0.7);
  border: 5px solid #00AAFF;
  border-radius: 10px;
}

.properties{
  margin-top: 20px;
  border-top: 2px solid #00AAFF;
}

button{
  display: inline;
  background-color: #001242;
  margin: 5px;
  border: solid 2px #00AAFF;
  border-radius: 3px;
  transition: 0.4s;
}
