<div class="productDiv">
  <form [formGroup]="productEditForm" class="loginForm" (submit)="editProduct();">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" placeholder="Name">
    <label for="price">Price</label>
    <input type="text" formControlName="price" id="price" placeholder="Price">
    <label for="description">Description</label>
    <input type="text" formControlName="description" id="description" placeholder="Name">
    <label for="count">Count</label>
    <input type="text" formControlName="count" id="count" placeholder="Count">
    <label for="img">Image</label>
    <input type="text" formControlName="img" id="img" placeholder="Image url">
    <button class="formButton" type="submit" [disabled]="productEditForm.invalid">
      <span *ngIf="productEditForm.invalid" class="text-danger">Fill out every section!</span>
      <span  *ngIf="!productEditForm.invalid">Update product listing!</span>
    </button>
    <button class="formButton" type="reset">Clear</button>
  </form>
</div>






