.form{
  border: 2px solid #00AAFF;
  padding: 20px;
  background-color: #001242;
}

input,label{
  width: 100%;
  display: block;
}

.box{
  font-size: 1.1rem;
}

.carttxt{
  margin-top: 50px;
  margin-left: 10%;
  width: 80%;
  border: 2px solid #00AAFF;
  padding: 0 20px;
  background-color: #001242;
}

.cart{
  margin-left: 10%;
  margin-bottom: 50px;
  width: 80%;
  top: 50px;
  height: auto;
  bottom: 150px;
  border: 2px solid #00AAFF;
  padding: 0 20px;
  background-color: #001242;
}

.bttn{
  background-color: #000022;
  border: 2px solid #00AAFF;
  border-radius: 5px;
}

.center{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.price{
  text-align: right;
  width: auto;
  border-top: 1px solid #00AAFF;
}

.productname{
  text-align: left;
}
.productprice{
  float: right;
}
