<div class="box">
  <div class="carttxt">Cart</div>
  <div class="cart">
    <div *ngFor="let product of products">
      <div class="productprice">{{product.price.toFixed(2)}} €</div>
      <div class="productname">{{product.name}}</div>
    </div>
    <div class="price">{{totalPrice.toFixed(2)}} €</div>
  </div>

  <div class="col-4 offset-4 form">
    <div class="center"><button class="bttn" routerLink="../login">Log in</button> or fill out following form to proceed!</div>
    <form>
      <label for="Name">Name</label>
        <input id="Name" name="Name">
      <label for="Surname">Surname</label>
        <input id="Surname" name="Surname">
      <label for="Address">Address</label>
        <input id="Address" name="Address">
      <label for="City">City</label>
        <input id="City" name="City">
      <label for="Email">Email</label>
        <input id="Email" name="Email">
      <label for="telNum">Phone number</label>
        <input id="telNum" name="telNum">
      <button class="bttn mt-2">Confirm the order</button>
    </form>
  </div>
</div>
