<div class="productDiv">
  <form class="productForm" [formGroup]="processorForm" (submit)="addProduct();">
    <label for="discType">Type of disc</label>
    <input type="text" formControlName="discType" id="discType" placeholder="Disc type">
    <label for="capacity">Capacity</label>
    <input type="number" formControlName="capacity" id="capacity" placeholder="0">
    <label for="lifetime">Lifetime</label>
    <input type="number" formControlName="lifetime" id="lifetime" placeholder="0">

    <button class="formButton" type="submit">Add product to the listing</button>
    <button class="formButton" type="reset">Clear</button>
  </form>
</div>
