<div class="navabar">
  <i (click)="vysunSa('categories')" class="burgerIcon fa fa-bars"></i>
  <i (click)="vysunSa('categories')" class="burgerIcon fa fa fa-times invisible"></i>
  <div class="center">TWM Electronics</div>
  <i (click)="vysunSa('cart')" class="cartIcon fa fa-shopping-cart"></i>
  <i (click)="vysunSa('cart')" class="cartIcon fa fa fa-times invisible"></i>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <i class="fa fa-instagram"></i>
  <i class="fa fa-facebook-f"></i>
  <i class="fa fa-github"></i>
</div>
