<div class="navabar">
  <i (click)="vysunSa('categories')" class="pointer burgerIcon fa fa-bars"></i>
  <i (click)="vysunSa('categories')" class="pointer burgerIcon fa fa fa-times invisible"></i>
  <div routerLink="/" class="pointer center">TWM Electronics</div>
  <i (click)="vysunSa('cart')" class="pointer cartIcon fa fa-shopping-cart"></i>
  <i (click)="vysunSa('cart')" class="pointer cartIcon fa fa fa-times invisible"></i>
</div>

<div *ngIf="this.router.url == '/';
  then thenBlock
  else elseBlock">
</div>
<ng-template #thenBlock> <router-outlet (activate)="showIcons()"></router-outlet> </ng-template>
<ng-template #elseBlock> <router-outlet (activate)="hideIcons()"></router-outlet> </ng-template>
<div class="footer">
  <i class="ftricon fa fa-lg fa-instagram"></i>
  <i class="ftricon fa fa-lg fa-facebook-f"></i>
  <i class="ftricon fa fa-lg fa-github"></i>
</div>
