#NavBar{
  top: 0;
  border: solid;
  background-color: grey;
  float: top;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

#NavBar #shoppingCartIcon{
  position: absolute;
  right: 30px;
  top: 0;
}

#NavBar #CategorySelectIcon{
  position: absolute;
  left: 30px;
  top: 0;
}

#product{
  border: 1px solid;
}

#productTab{
  margin-top: 10px;;
  border: solid;
}

#Categories{
  display: none;
  padding: 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: solid;
  background-color: lightgray;
  float: left;
  position: fixed;
}

#categoryList{
  display: initial;
  font-size: 25px;
}
