/*
Generate Color Scheme
#000022 - back
#001242 - supper
#00AAFF - front
 */

.cart{
  transition-duration: 0.125s;
  width: 25%;
  height: 100%;
  position: fixed;
  right: 0;
}

.categories{
  transition-duration: 0.125s;
  width: 25%;
  height: 100%;
  position: fixed;
  left: 0;
}

.categoriestranslation{
  transform: translateX(-100%);
}

.carttranslation{
  transform: translateX(100%);
}

.mid{
  color: black;
  position: fixed;
  right: 50%;
}

.fa-shopping-cart{
  color: black  ;
}

.content{
  text-align: center;
  position: fixed;
  width: 100%;
  display: table;
  z-index: -10;
  background-color: white;
  justify-content: center;
}

.productsTab{
  display: table;
  background-color: red;
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 3px solid;
}

.productImage{
  background-color: white;
  height: 70px;
}

.product{
  display: table-cell;
}
